<div class="row">
    <div class="col-md-12">
        <p class="h4">Meus Arquivos</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Chave</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in arquivos">
                <th scope="row" ng-bind="a.arq_nome">1</th>
                <td ng-bind="a.arq_chave"></td>
                <td ng-bind="a.arq_data"></td>
                <td>
                    <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash-o"
                                                                            aria-hidden="true"></i> Excluir
                    </button>
                    <button type="button" class="btn btn-outline-primary"><i class="fa fa-share-alt"
                                                                             aria-hidden="true"></i> Compartilhar
                    </button>
                    <a href="../../controller/arquivo.php?download={{a.arq_arquivo}}" target="_blank"
                       class="btn btn-outline-info"><i class="fa fa-download" aria-hidden="true"></i> Baixar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
